* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
html {
  font-size: 1rem;
  line-height: 1.6rem;
}
/* navbar css */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #20c997;
  z-index: 99;
}
.nav-left {
  height: 90px;
  width: 77px;
}
.nav-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-center {
  /* border: 2px solid yellow; */
  width: 50%;
}
.nav-center ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-center li {
  padding: 7px 10px;
  border-radius: 5px;
}
.nav-center li:hover {
  transition: 1s;
  background-color: cyan;
  color: black;
}
.nav-center ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  user-select: none;
  color: black;
}
.nav-right {
  /* border: 2px solid green; */
}
.side-bar {
  position: fixed;
  right: -300%;
  top: 0;
  background-color: red;
  height: 100vh;
  width: 250px;
  max-width: 550px;
  z-index: 99;
  transition: 1s ease;
}
.side-bar .sidebar-elements {
  position: relative;
  top: 15%;
  height: 100%;
}
.side-bar .sidebar-elements ul {
  display: block;
  margin: auto;
  padding: 0;
}
.side-bar .sidebar-elements ul li {
  list-style: none;
  text-align: center;
  margin: 20px 5px;
  padding: 10px;
  border-radius: 5px;
}
.side-bar .sidebar-elements ul li:hover {
  transition: 1s;
  background-color: rgba(179, 179, 179, 0.728);
}
.side-bar .sidebar-elements ul li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
}
.menu-bar {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 55px;
  border: 0;
  right: 20%;
  background-color: transparent;
  cursor: pointer;
}
.menu-bar .bar1,
.bar2,
.bar3 {
  width: 100%;
  margin: 3px;
  border: 3px solid red;
  border-radius: 30px;
}
/* JS Controlling CSS */
.side-bar-visible {
  right: 0;
}
.bar1-close {
  transition: transform 0.6s ease-in-out;
  transform: translateY(11px) rotate(-45deg);
}
.bar3-close {
  transition: transform 0.6s ease-in-out;
  transform: translateY(-12px) rotate(45deg);
}
.bar2-close {
  opacity: 0;
}
@media screen and (max-width: 900px) {
  nav {
    justify-content: space-between;
  }
  .search-box {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
  .nav-left {
    width: 50%;
    left: 5%;
    position: relative;
  }
  .nav-center {
    display: none;
  }
  .nav-right {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1260px) {
  .nav-center ul li a {
    font-size: 1.1rem;
    top: 0;
  }
  .nav-right {
    width: 20%;
  }
  .search-input {
    padding: 8px;
  }
}

.main-camp {
  /* border: 2px solid red; */
  margin-top: 2%;
}
.about-camp-section {
  width: fit-content;
  margin: auto;
  max-width: 70rem;
  padding: 1rem;

  margin: 0 auto;
  width: 100%;
}
h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 900;
  text-transform: capitalize;
  margin: 20px 0px;
}
h2 {
  text-transform: capitalize;
  margin: 20px;
}

p {
  text-align: justify;
  hyphens: auto;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  line-height: 30px;
}
/* slider css */
#container {
  width: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1px;
  display: grid;
  place-items: center;
  /* border: 2px solid blue; */
}

#slider-container {
  height: 300px;
  width: 100%;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid pink;
  border-top: 8px solid pink;
  cursor: pointer;
}

#slider-container .btn:hover {
  transform: scale(1.2);
}

#slider-container .btn.inactive {
  border-color: rgb(153, 121, 126);
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
}

#slider-container #slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}

/* table css */
section {
  min-width: 350px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

thead {
  font-size: 0.8rem;
  text-transform: uppercase;
  background: #f1f1f1;
  border-radius: 10px;
}

tr {
  border-top: 1px solid #e6e6e6;
  border-radius: 10px;
}

tr:hover {
  background-color: #f5f8fc;
}

td {
  font-weight: 100;
}

th,
td {
  padding: 1.25rem 2rem;
}

td:first-child,
th:first-child {
  text-align: left;
}

td:nth-last-child(2),
th:nth-last-child(2) {
  text-align: right;
}

td + td:not(:nth-last-child(2)) {
  text-align: center;
}

.table__button-group {
  visibility: hidden;
  transition: visibility 0.06s ease-in;
}

a {
  text-decoration: none;
  color: #0989ab;
  font-size: 0.8rem;
  font-weight: 500;
}
a:hover {
  color: #0989ab;
  opacity: 0.75;
}

a ~ a:before {
  content: "|";
  padding: 0 0.35rem;
}

tr:hover > td .table__button-group {
  visibility: visible;
}

@media (max-width: 800px) {
  .table__button-group {
    visibility: visible;
  }
}
/* maps css */
iframe {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  margin-top: 10px;
  border: 0;
}
/* button section css */
.about-button-sec {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
}
.about-button-sec button {
  padding: 15px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 10px;
  background: transparent;
  font-weight: 800;
  cursor: pointer;
}
.about-button-sec button:hover {
  transition: 1s;
  background-color: rgba(179, 179, 179, 0.728);
}
