* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
html {
}
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 1%;
  z-index: 99;
}
.nav-scroll-action {
  top: 0;
  padding: 5px;
  background-color: #20c997;
}
.nav-left {
  height: 90px;
  width: 77px;
}
.nav-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-center {
  /* border: 2px solid yellow; */
  width: 50%;
  transform: translateX(-12%);
}
.nav-center ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-center li {
  padding: 7px 10px;
  border-radius: 5px;
}
.nav-center li:hover {
  transition: 1s;
  background-color: #20c997;
}
.nav-center ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  user-select: none;
  color: white;
}
.nav-right {
  /* border: 2px solid green; */
}
.side-bar {
  position: fixed;
  right: -300%;
  top: 0;
  background-color: red;
  height: 100vh;
  width: 250px;
  max-width: 550px;
  z-index: 99;
  transition: 1s ease;
}
.side-bar .sidebar-elements {
  position: relative;
  top: 15%;
  height: 100%;
}
.side-bar .sidebar-elements ul {
  display: block;
  margin: auto;
  padding: 0;
}
.side-bar .sidebar-elements ul li {
  list-style: none;
  text-align: center;
  margin: 20px 5px;
  padding: 10px;
  border-radius: 5px;
}
.side-bar .sidebar-elements ul li:hover {
  transition: 1s;
  background-color: rgba(179, 179, 179, 0.728);
}
.side-bar .sidebar-elements ul li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}
.menu-bar {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 55px;
  border: 0;
  right: 20%;
  background-color: transparent;
  cursor: pointer;
}
.menu-bar .bar1,
.bar2,
.bar3 {
  width: 100%;
  margin: 3px;
  border: 3px solid red;
  border-radius: 30px;
}
/* JS Controlling CSS */
.side-bar-visible {
  right: 0;
}
.bar1-close {
  transition: transform 0.6s ease-in-out;
  transform: translateY(11px) rotate(-45deg);
}
.bar3-close {
  transition: transform 0.6s ease-in-out;
  transform: translateY(-12px) rotate(45deg);
}
.bar2-close {
  opacity: 0;
}
@media screen and (max-width: 900px) {
  nav {
    justify-content: space-between;
  }
  .search-box {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
  .nav-left {
    width: 50%;
    left: 5%;
    position: relative;
  }
  .nav-center {
    display: none;
  }
  .nav-right {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1260px) {
  .nav-center ul li a {
    font-size: 1.1rem;
  }
  .nav-left {
    height: 70px;
    width: 60px;
    padding: 1px;
  }
  .nav-center {
    width: 60%;
  }
  .nav-right {
    width: 20%;
  }
  .search-input {
    padding: 8px;
  }
}

/* Hero section css */
#hero-video {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  #hero-video {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50vh;
  }
}

/* Hero section text css */
.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  overflow-y: hidden;
}
.hero-text-container {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 26vw;
  text-align: left;
  user-select: none;
}
.hero-text-container h1 {
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: -0.2px;
  color: white;
}
.hero-text-container h2 {
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: -0.2px;
  color: white;
}
.hero-text-container button {
  padding: 15px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  font-weight: 800;
  color: white;
  cursor: pointer;
}
.hero-text-container button:hover {
  transition: 1s;
  background-color: #20c997;
}
/* Hero section slider css */
#slider,
#slider .slide {
  width: 500px;
  height: 250px;
}
#slider {
  overflow: hidden;
  margin: 0 auto;
}
#slider .container {
  position: relative;
  width: 9000px; /* Assign an insanely large width */
  top: 0;
  right: 0;
  animation: slide-animation 30s infinite;
}
#slider .slide {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 10px 20px;
}

/* [ANIMATION] */
@keyframes slide-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  11% {
    opacity: 1;
    right: 0;
  }
  22% {
    right: 100%;
  }
  33% {
    right: 100%;
  }
  44% {
    right: 200%;
  }
  55% {
    right: 200%;
  }
  66% {
    right: 300%;
  }
  77% {
    right: 300%;
  }
  88% {
    opacity: 1;
    right: 400%;
  }
  100% {
    opacity: 0;
    right: 400%;
  }
}

.hero-slider-section {
  border-left: 5px solid white;
  width: 35%;
  height: 120%;
  transform: translateY(-10%);
  border-radius: 50% 0% 0% 50%;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  display: grid;
  background-color: #20c997;
  place-items: center;
}
.hero-slider-highlights {
  width: fit-content;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(7%);
}
.hero-slider-highlights > .heading {
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: -0.2px;
  color: white;
  text-align: left;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}
.upcoming-events {
  width: 60%;
  height: fit-content;
  padding: 10px;
}
.upcoming-events > button,
.ongoing-events > button {
  padding: 10px 12px;
  font-size: 0.7rem;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  font-weight: 600;
  color: white;
  cursor: pointer;
  float: left;
}
.upcoming-events > h1,
.ongoing-events > h1 {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: -0.2px;
  color: white;
  text-align: left;
}
.upcoming-events > ul {
  list-style: none;
  /* border: 2px solid green; */
  padding: 0;
}

.upcoming-events > ul > li {
  /* border: 2px solid red; */
  display: flex;
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: -0.2px;
}
.upcoming-events > ul > li > span {
  margin-left: 10px;
}
.ongoing-events {
  width: 60%;
  height: fit-content;
  padding: 10px;
}
.ongoing-events > ul {
  list-style: none;
  padding: 0;
}
.ongoing-events > ul > li {
  display: flex;
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: -0.2px;
}
.ongoing-events > ul > li > span {
  margin-left: 10px;
}
/* About section css */
.main-about-section {
  padding: 50px;
  margin-top: 50rem;
  text-align: right;
}

.sub-about-section1,
.sub-about-section2 {
  display: flex;
  height: 50vh;
  /* border: 2px solid red; */
}
.sub-about-section2 {
  margin-top: 7rem;
}
.sub-about-section1 > .image-section,
.sub-about-section2 > .image-section {
  width: 40%;
}
.sub-about-section1 > .image-section > img,
.sub-about-section2 > .image-section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.sub-about-section1 > .text-section,
.sub-about-section2 > .text-section {
  width: 60%;
  max-width: 60%;
  /* border: 2px solid blue; */
  align-items: center;
}
.sub-about-section1 > .text-section {
  padding: 10px 0 10px 70px;
}
.sub-about-section2 > .text-section {
  padding: 10px 70px 10px 0;
}
.sub-about-section1 > .text-section > h1,
.sub-about-section2 > .text-section > h1 {
  text-align: center;
  margin-top: 0;
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}
.sub-about-section1 > .text-section > p,
.sub-about-section2 > .text-section > p {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  word-spacing: 1px;
  line-height: 30px;
}
.sub-about-section1 > .text-section > p {
  text-align: justify;
}
.sub-about-section2 > .text-section > p {
  text-align: justify;
}
.sub-about-section1 > .text-section > button,
.sub-about-section2 > .text-section > button {
  float: left;
  display: block;
  padding: 15px 40px;
  transform: translateY(40%);
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 10px;
  background: transparent;
  font-weight: 800;
  cursor: pointer;
}
/* vision-mision css */
.vision-main-container {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.sub-vision,
.sub-mision,
.sub-who-are-we {
  width: 30%;
  height: 62vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  background-color: #20c997;
  opacity: 0.8;
}
.sub-vision h1,
.sub-mision h1,
.sub-who-are-we h1 {
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  z-index: 1;
}
.sub-vision p,
.sub-mision p,
.sub-who-are-we p {
  margin-top: 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  word-spacing: 1px;
  line-height: 25px;
  text-align: center;
}
.sub-vision::before,
.sub-mision::before,
.sub-who-are-we::before {
  content: "";
  height: 20%;
  border-left: 2px solid rgb(255, 255, 255);
}
.sub-vision::after,
.sub-mision::after,
.sub-who-are-we::after {
  content: "";
  height: 20%;
  border-left: 2px solid rgb(255, 255, 255);
}

/* Event section css */
.event-container {
  margin-top: 5rem;
}
.event-container h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
}
.item {
  position: relative;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.841);
  width: fit-content;
  height: 330px;
  width: 500px;
  object-fit: cover;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.item img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.item:hover {
  transform: scale(1.1);
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s ease-in-out;
  position: relative;
  right: 0px;
  left: 10px;
  background-color: white;
  z-index: 2;
}
.thumbnail-vid {
  width: 100%;
  height: 100%;
}
.item h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: white;
}
/* h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 340px;
  text-align: left;
} */
.ch-name {
  font-size: small;
  font-weight: 350;
  /* font-family: Arial, Helvetica, sans-serif; */
  position: relative;
  left: 50px;
  bottom: -5px;
  text-align: left;
  margin-bottom: 0px;
}
.duration {
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: smaller;
  width: fit-content;
  border-radius: 4px;
  padding: 2px;
  position: relative;
  left: 175px;
  top: -30px;
}

/* impact section css */
.main-impact-section {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
}
.main-impact-section h1 {
  margin-top: 0;
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}
.sub-impact-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.camps-count,
.patients-count,
.locations-count {
  margin-top: 10px;
}
.counter {
  width: 25vw;
}
.counter h1 {
  margin-top: 5%;
  font-weight: 600;
  font-size: 7rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}
.counter p {
  transform: translateY(-80px);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  word-spacing: 1px;
  line-height: 25px;
  text-align: center;
}
/* testimonials section css */
.main-testimonials-section {
  width: 70%;
  margin: auto;
  overflow: hidden;
}
.main-testimonials-section > h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}
.swiper-slide {
  margin: 10px;
}
.cnt {
  margin-top: 10px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 400px;
  max-width: 400px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #2c3447;
  padding: 30px;
  border-radius: 10px;
  background-image: linear-gradient(
    -25deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #a6a57a;
}
/* team section css */
/* contact section css */
.main-contact-section {
  margin-top: 5rem;
}
.main-contact-section > h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}
.contain {
  background-color: #eee;
  max-width: 72%;
  margin: auto;
  padding: 1em;
}

div.form {
  background-color: #eee;
}
.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}

.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ec1c24;
}

.highlight-text {
  color: #ec1c24;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
  margin-top: 20px;
}

::-webkit-input-placeholder {
  /* Chrome */
  font-family: "Roboto", sans-serif;
}

.required-input {
  color: black;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

.form-input:focus,
textarea:focus {
  outline: 1.5px solid #ec1c24;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

button,
.submit-btn {
  background: transparent;
  border: 1px solid #ec1c24;
  color: #ec1c24;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
button:hover,
.submit-btn:hover,
button:focus,
.submit-btn:focus {
  background: #ec1c24;
  outline: 0;
  color: #eee;
}
.error {
  color: #ec1c24;
}

/* footer css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

footer#site-footer {
  margin: 0 auto;
  width: 100%;
  background: #1e3138;
  padding: 1rem;
  color: #a8a8a8;
}

footer#site-footer a {
  color: #a8a8a8;
}

footer#site-footer a:hover {
  color: #00c3ce;
}

footer#site-footer h1 {
  color: #cecece;
}

footer#site-footer section.horizontal-footer-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2.38rem 2rem;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
  justify-content: center;
}

footer#site-footer #footer-logo {
  margin-right: auto;
  flex-shrink: 0;
}

footer#site-footer #footer-logo img {
  height: 2.28rem;
}

footer#site-footer ul#footer-top-menu {
  padding: 0;
  margin: 0;
}

footer#site-footer ul#footer-top-menu li {
  display: inline;
  list-style-type: none;
  margin-right: 1.32rem;
  font-weight: bold;
}

footer#site-footer ul#footer-top-menu li a {
  text-decoration: none;
}

footer#site-footer .footer-top-menu-item-active {
  position: relative;
}

footer#site-footer .footer-top-menu-item-active a {
  color: #007ba6;
}

footer#site-footer .footer-top-menu-item-active a:hover {
  color: #00c3ce;
}

footer#site-footer .footer-top-menu-item-active::before {
  content: "";
  background: #007ba6;
  padding: 0.15rem 0;
  width: 100%;
  position: absolute;
  top: 1.68em;
}

footer#site-footer .footer-top-menu-item-active:hover::before {
  background: #00c3ce;
  transition-duration: 0.6s;
}

footer#site-footer #footer-buttons-container {
  margin-left: auto;
  flex-shrink: 0;
}

footer#site-footer a.footer-button {
  background: transparent;
  border: 0.15rem solid #a8a8a8;
  border-radius: 1.38rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

footer#site-footer a.footer-button:hover {
  border-color: #00c3ce;
}

footer#site-footer section.horizontal-footer-section#footer-middle-section {
  align-items: flex-start;
}

footer#site-footer .footer-columns {
  flex-basis: 18%;
  padding-right: 1rem;
}

footer#site-footer .footer-columns-large {
  flex-basis: 46%;
  padding-right: 2rem;
}

footer#site-footer .footer-columns h1 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 800;
}

footer#site-footer .footer-columns.footer-columns-large h1 {
  font-size: 1.28rem;
  margin-top: 3rem;
  margin-bottom: 1.32rem;
}

footer#site-footer .footer-columns.footer-columns-large h1:first-child {
  margin-top: 0;
}

footer#site-footer ul.footer-column-menu {
  margin: 0;
  padding: 0;
}

footer#site-footer ul.footer-column-menu li {
  list-style-type: none;
  margin-bottom: 0.68rem;
  font-size: 0.88rem;
}

footer#site-footer #footer-about address {
  font-style: normal;
  font-weight: bold;
}

footer#site-footer #footer-about address p img {
  margin-right: 0.68rem;
}

footer#site-footer #footer-about a.footer-button {
  margin-top: 0.32rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
  padding: 1.32rem 0;
  margin: 2rem 2rem 1.32rem 2rem;
  border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
  justify-self: flex-end;
  margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
  margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  footer#site-footer {
    width: 100%;
  }

  footer#site-footer section.horizontal-footer-section {
    flex-direction: column;
    flex-wrap: wrap;
  }

  footer#site-footer section.horizontal-footer-section div {
    flex-basis: 100%;
    width: 100%;
  }

  footer#site-footer ul li {
    display: block !important;
    padding: 1em !important;
    border-top: 1px solid #555555;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-size: 1.15rem !important;
  }

  footer#site-footer ul li:first-child {
    border-top: none;
  }

  footer#site-footer a.footer-button {
    display: block;
    text-align: center;
    max-width: 350px;
    margin: 0.32rem auto;
  }

  footer#site-footer section.horizontal-footer-section#footer-top-section div {
    margin-top: 0;
    margin-bottom: 1.68rem;
  }

  footer#site-footer #footer-logo {
    margin-right: 0;
  }

  footer#site-footer #footer-buttons-container {
    margin-left: 0;
  }

  footer#site-footer ul#footer-top-menu {
    width: 100%;
    margin: 2rem 0 0 0;
  }

  footer#site-footer .footer-top-menu-item-active::before {
    display: none;
  }

  footer#site-footer #footer-about {
    margin-bottom: 3rem;
  }

  footer#site-footer .footer-columns-large,
  footer#site-footer .footer-columns {
    padding-right: 0;
  }

  footer#site-footer .footer-columns {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  footer#site-footer .footer-columns:last-child {
    margin-bottom: 0;
  }

  footer#site-footer .footer-columns h1 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  footer#site-footer ul.footer-column-menu li {
    margin-bottom: 0;
    display: block;
    text-align: center;
  }

  footer#site-footer section#footer-bottom-section div {
    text-align: center;
  }

  footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    margin: 1.32rem 0;
    padding: 0;
    border-top: 0;
  }

  footer#site-footer section#footer-bottom-section #footer-social-buttons {
    margin-top: 1.32rem;
  }
}
